node_modules
package-lock.json
raw_data/Tweets\ with\ replies\ by\ Cindy\ Yuvia\ (@Cindvia_JKT48)\ \ \ Twitter.html
raw_data/from\ cindvia_jkt48\ since\ 2016-01-01\ until\ 2017-08-31\ -\ Twitter\ Search.html
raw_data/from\ cindvia_jkt48\ since\ 2014-01-01\ until\ 2016-01-01\ -\ Twitter\ Search.html
raw_data/from\ cindvia_jkt48\ since\ 2013-01-10\ until\ 2014-01-01\ -\ Twitter\ Search.html
raw_data/Tweets\ with\ replies\ by\ Cindy\ Yuvia\ (@Cindvia_JKT48)\ \ \ Twitter_files
raw_data/from\ cindvia_jkt48\ since\ 2016-01-01\ until\ 2017-08-31\ -\ Twitter\ Search_files
raw_data/from\ cindvia_jkt48\ since\ 2014-01-01\ until\ 2016-01-01\ -\ Twitter\ Search_files
raw_data/from\ cindvia_jkt48\ since\ 2013-01-10\ until\ 2014-01-01\ -\ Twitter\ Search_files